#google {
    display: block; 
    margin: 200px auto; 
}

.button {
    border-radius: 2px; 
    background-color: #ffb4ad; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; 
    background-color: #f1f1f1;
}


li a{ 
    color: #000;   
    text-decoration: none; 
}

li a:hover{ 
    background-color: #555;
    color: white;
    text-decoration: underline; 
}


li {
    display: inline;
  }
