html{
    width: 100%; 
    height: 100%; 
}

body{
    width: 100%; 
; 
}

#google-logo { 
    /*background: red;*/ 
    position: fixed;
    top: 26.5%;
    left: 51%; 
    text-align: center; 
    margin: -50px -150px; 

}

#button-wrapper { 
    margin-top: 360px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*background: red;*/  
}

button{
    border: 0; 
    color: #575859; /* Affects the text colour */ 
    font-size: 14px;
    border-radius: 5px; 
    width: 138px;
    height: 35px;
    background-color: #ebeef2; /*Affects the background colour of the button*/ 
    margin-right: 15px; 
}

button:hover {
    outline-width: 2px;
    background-color: #bfc2c7;
    border: 4px;
}

#top-nav{
    position: fixed;
    top: 0;
    padding: 22px 15px 12px 12px;
    width: 100%; 
}

#bot-nav{
    list-style-type: none;
    position: fixed;
    bottom: 0;  
    padding: 12px 12px 12px 12px;
    width: 100%; 
    background-color: #f1f1f1;
}


li a{ 
    color: #383836;  
    text-decoration: none; 
}

li a:hover{ 
    text-decoration: underline; 
}

.nav-link-right{
    float: right;
    padding: 0 15px 0 0; 
    margin-right: 15px;
}

.nav-link-right-top{
    float: right;
     
    padding: 0 0 0 0; 
    margin-right: 20px;
}

#top-right-side{
    margin-top: -13px;
    margin-right: 125px;
}

li {
    font-size: 12px; 
    padding: 0 0 0 10px;
    display: inline;
}

#sign-in{
    pointer-events: none;
    width: 70px;
    height: 30px;
    border-radius: 2px; 
    float: right;
    background: #4787ed;
    color: white;
    margin-top: -6px;
    margin-right: 20px;
}

#google-app{ 
    float: right;
    margin-right: 4px; 
    width: 32px;
    height: 32px; 
    background: url("gray-app.png") no-repeat;
}

#google-app:hover{ 
    float: right;
    margin-right: 4px;
    width: 32px;
    height: 32px; 
    background: url("black-app.png") no-repeat;
}


